# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData
*.qs
*.rds

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Output files for this project
Rosters/*

data
2024_scRGOT_CoderUpgrade_Data

.DS_Store
int
output
Sessions/adv_tuesday/figures
Sessions/adv_tuesday/sc_atac_files
figures
workshop_data/scRNA
workshop_data/spatial
workshop_data/multiomics
input
tempdir_fastqs
cellranger_output
Sessions/adv_thursday/atac_feat_hist.png
Sessions/adv_thursday/atac_peaks.png
Sessions/adv_thursday/combined_umap_lines.png
Sessions/adv_thursday/joint_umap.png
Sessions/adv_thursday/neuron_clusters_both.png
